/*
阿里图标库
*/

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1508732901313');
    /* IE9*/
    src: url('iconfont.eot?t=1508732901313#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAUsAAsAAAAAB6wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7mHrY21hcAAAAYAAAABcAAABiALaEj9nbHlmAAAB3AAAAU0AAAGEewC8QmhlYWQAAAMsAAAALwAAADYPRmXIaGhlYQAAA1wAAAAcAAAAJAfeA4VobXR4AAADeAAAABAAAAAQD+kAAGxvY2EAAAOIAAAACgAAAAoBOACcbWF4cAAAA5QAAAAfAAAAIAETAF1uYW1lAAADtAAAAUUAAAJtPlT+fXBvc3QAAAT8AAAALQAAAD5XUriueJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sU4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVPz/z9zwv4EhhrmBoQEozAiSAwA44w2GeJzFkEEKgDAMBCe2ehDBP3j26A/07MnH9Pc1WYrgC7owKRkSCgFGIDm7k8EejMjt1uQTs3xm00yWL7V+1WIzrE10i/X7+p9F9Whd3LY0jDWdAgZ/L+EzL+gQCSd4nHXPvUrDUBQH8HtuzE1umibtzfetaZvEJkq1YIxdxBbBRXEQnByFrrpmcegiGHDwATqJ4Et0EN9EdPUVordLNw9nOofz4/yRjNDvp7SUfGShbbSPTtElQkCGEBs4hCgrRngITiQ7nm1IWZJFShKPpGPwYmK7+bhIPaIQEwzowkGUj7MRzuCwmOAjyN0QIOjwKzbYZNIzaH7WfajP8Qs4vWTTnOzVZ7tTO+9baqkzFjD2pBJZVjHeMA249VwqU43Ur7LJnWVvB/dADzJ+cd3sd9jNY3EXDjwKMJ+D1ekbb9M2b4u+567FAqXVVH3eTLZsKL8bvqWH6RcSBSLrO+5KJ6iNkExBfB8rQDziwSoKduoSKmoHWj1rYNyAhRbYFCqoNG5RMTNbej0T+7UlfayttBjnglFcAcZpAT9Q1aVmcwqLlSXu+H/WH3+7Pk8AAAB4nGNgZGBgAOIrW6RnxfPbfGXgZmEAgWvCE54i6P8HWBiYHYFcDgYmkCgAOa0KuwB4nGNgZGBgbvjfwBDDwgACQJKRARWwAABHCgJtBAAAAAPpAAAEAAAABAAAAAAAAAAAdgCcAMIAAHicY2BkYGBgYQhkYGUAASYg5gJCBob/YD4DABESAXEAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicY2BigAAuBuyAhZGJkZmRhZGVgbGCLS0xL6M0kz09NS89pTSfgQEAQLkGDQAAAA==') format('woff'), url('iconfont.ttf?t=1508732901313') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1508732901313#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
    content: "\f0343";
}

.icon-gengduo:before {
    content: "\f0344";
}


/*公共样式*/

* {
    padding: 0;
    margin: 0;
}

.Ypage {
    list-style: none;
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    border-radius: 2px;
    background: linear-gradient(to bottom, #fcfcfc, #ececec);
    cursor: pointer;
}

a {
    text-decoration: none;
}



.pageIndex {
    height: 26px;
    width: 30px;
}

.YActive {
    background: linear-gradient(to bottom, #76adfe, #438bfb);
    cursor: default;
    border: 1px solid #96c0f9;
    color: #fff;
}

.YpageInp {
    background: rgba(0, 0, 0, 0);
    border: none;
    text-align: center
}

.disabled {
    cursor: not-allowed;
}

body,
html {
    width: 100%;
    height: 100%;
}