html,
body {
    height: 100%;
    width: 100%;
}

#modalLayer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}